body {
	font-family: Arial;
	background-color: white;
  color: black;
}

 
.centered {
  text-align: center; 
}


.row {
  display: flex; 
}


.left {
  width: 60%;
  border: 1px solid black;
}


.right {
  width: 40%;
  border: 1px solid black;
}

.circle {
  fill: royalblue;
}


.point {
  fill: black;
}

.point:hover {
  fill: limegreen;
}

.addBorder {
  stroke: darkorange;
  stroke-width: 3px;
}


.bar {
  fill: red;
}

.bar:hover {
  fill: yellow;
}

.tooltip {
  position: absolute;
  background-color: royalblue;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
